<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <title>Upload Images</title>
</head>
<body>
    <div class="container">
        <h1 class="mx-auto">Upload Images</h1>
        <div class="row">
            <form action="/upload" method="POST" enctype="multipart/form-data" class="col-sm-6 mx-auto">
                <div class="input-group">
                    <input type="file" name="imgFile" class="form-control">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-warning">Upload</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>